<style>
.member-container{
    float: left;
}
.memberimg{
    float: left;
    width: 250px;
}
.memberimg img{
    display: block;
    width: 100%;
}
.membertxt{
    overflow: hidden;
}
</style>

<div class="member-container">
    <div class="memberimg">
            <img src="{{ site.baseurl }}/{{ page.img }}">
    </div>

    <div class="membertxt">
        <!--
        {% if page.quote %}
            {{page.quote}}
            <br><br/>
        {% endif %}
        -->

        {{page.content | strip_html}}
    </div>
</div>
