<!-- Portfolio Grid Section -->
<!--This File is Not Used-->
<div class="portfolio-grid">
    {% for item in site.members %}
    <div class="portfolio-cell">
        <a href="{{ site.baseurl }}{{ item.url }}" class="portfolio-link" data-keyboard="true">
            <div class="caption" title="{{ item.title }}">
                <div class="caption-content">
                    {{item.research-interests}}
                </div>
            </div>
            <img src="{{ site.baseurl }}/{{ item.img }}" class="" alt="I am a picture">
        </a>
	<figcaption>{{item.title}}</figcaption>
    </div>
    {% endfor %}
</div>
