<style>
     .resnavlink .resnavlink:hover, .resnavlink:visited {
          color:inherit;
          text-decoration: none;
         }
     .nav-venn{
        position: relative; 
        padding-bottom: 200px; 
        width: 50%; 
        margin: auto; 
        top: -80px;
    }
    .venn{
      padding: 0 0 0 0;
      position: absolute;
      opacity: 0.5;
      z-index: 1;
      transition: 0.1s linear;
    }
    .ellipse{
      top: 60px; 
      width: 300px; 
      height: 180px;
    }
    .cat1{
      left: 0px;
     
    }
    .cat2{
      left: 180px;
    }
    .cat3{
      left: 360px;
    }
    .inter{
      position: absolute; 
      top: 78px; 
      width: 120px;
      opacity: 0;
    }
    .int1{
      left: 180px; 
    }
    .int2{
      left: 360px; 
    }
    .catwrap{
    }
    .cattext{
      position: absolute;
      font-weight: bold;
      z-index: 2;
      transition: 0.1s linear;
      color: black;
    }
    .cat1text{
      left: 100px;
      top: 80px;
    }
    .cat2text{
      left: 290px;
      top: 80px;
    }
    .cat3text{
      left: 470px;
      top: 80px;
    }
    .int1text{
      left: 195px;
      top: 120px;
      z-index: 6;
      display: none;
    }
    .int2text{
      left: 380px;
      top: 120px;
      z-index: 6;
      display: none;
    }
    .catwrap:hover .cattext{
      transform: scale(1.3);
    }
    .catwrap:hover .int1text{
      display: inline;
    }
    .catwrap:hover .int2text{
      display: inline;
    }
    .catwrap:hover .venn{
      transform: scale(1.3);
      opacity: 0.7;
      -webkit-filter: drop-shadow( -2px 2px 2px #000 ); 
            filter: drop-shadow( -2px 2px 2px #000 );
    }
    .catwrap:hover .inter{
      opacity:1;
      z-index: 5;
    }
}
</style>
<div class="nav-venn">
<a class="resnavlink" href="{{site.baseurl}}/research/inhibition"><div class="catwrap"><div class="cattext cat1text">{{page.headings[0]}}</div><img src="{{site.baseurl}}/assets/img/research/cat1.svg" class="venn ellipse cat1"></div></a>
<a class="resnavlink" href="{{site.baseurl}}/research/plasticity"><div class="catwrap"><div class="cattext cat2text">{{page.headings[1]}}</div><img src="{{site.baseurl}}/assets/img/research/cat2.svg" class="venn ellipse cat2"></div></a>
<a class="resnavlink" href="{{site.baseurl}}/research/behavior"><div class="catwrap"><div class="cattext cat3text">{{page.headings[2]}}</div><img src="{{site.baseurl}}/assets/img/research/cat3.svg" class="venn ellipse cat3"></div></a>
<a class="resnavlink" href="{{site.baseurl}}/research/inhibition_plasticity"><div class="catwrap"><div class="cattext int1text">{{page.headings[0]}}/<br>{{page.headings[1]}}</div><img src="{{site.baseurl}}/assets/img/research/int1.svg" class="venn inter int1"></div></a>
<a class="resnavlink" href="{{site.baseurl}}/research/plasticity_behavior"><div class="catwrap"><div class="cattext int2text">{{page.headings[1]}}/<br>{{page.headings[2]}}</div><img src="{{site.baseurl}}/assets/img/research/int2.svg" class="venn inter int2"></div></a>
</div>
