h1.title {
    @extend .header-txt-shadow;
}

h2.title {
    text-align: left;
}

.subtitle {
    font-weight: normal;
    margin-top: 5px;
    text-shadow: 1px 1px 2px $text-shadow;
}

.publications {overflow-x: hidden; table-layout: fixed; width: 100%;}
.publications tr{  border-bottom:1pt solid black; width: 100%;}
.publications td{border: none;}
.publications th{border: none;}
.publications td{cursor: pointer;}
.publications .extender{display:inline; float: right;}

#talks table{overflow-x: hidden; border-collapse:collapse;}
#talks tr{  border-bottom:1pt solid black;}
#talks .spacer{height: 10px; outline: none;}
#talks td{border: none;}
#talks th{border: none;}
#talks td{cursor: pointer;}
#talks figcaption{text-align: center;}
#talks #date{display:inline; color: lighten($text-color, 30%); text-transform: uppercase; font-size: 15px; float: right;}

//Shared css in _post.scss

#address {width:30%; float:left; padding-bottom: 15px;}
#map {position: relative; hieght: 0; overflow: hidden; width:60%; float:right; padding-bottom: 50%; margin: 10px 0px 0px 0px;}
#contact {width:30%; float:left; padding-top: 15px; padding-bottom: 30px;}
#call {width:30%; float:left;}	
#desc {padding-bottom: 15px;}

#ifr {width: 100% !important; height: 100% !important; position: absolute; top: 0; left: 0;}

#talkfig {
  display: table;
  float: left;
  padding: 50px;
}

#talkcap {
  display: table-caption;
  caption-side: bottom;
  text-align: center;
}	

.abstractbox {
overflow: hidden; 
display: -webkit-box; 
-webkit-line-clamp: 2; 
-webkit-box-orient: vertical;
}

.resnavlink .resnavlink:hover, .resnavlink:visited {
          color:inherit;
          text-decoration: none;
         }
     .nav-venn{
        position: relative; 
        padding-bottom: 200px; 
        width: 50%; 
        margin: auto; 
        top: -80px;
    }
    .venn{
      padding: 0 0 0 0;
      position: absolute;
      opacity: 0.5;
      z-index: 1;
      transition: 0.1s linear;
    }
    .ellipse{
      top: 60px; 
      width: 300px; 
      height: 180px;
    }
    .cat1{
      left: 0px;
     
    }
    .cat2{
      left: 180px;
    }
    .cat3{
      left: 360px;
    }
    .inter{
      position: absolute; 
      top: 78px; 
      width: 120px;
      opacity: 0;
    }
    .int1{
      left: 180px; 
    }
    .int2{
      left: 360px; 
    }
    .catwrap{
    }
    .cattext{
      position: absolute;
      font-weight: bold;
      z-index: 2;
      transition: 0.1s linear;
      color: black;
    }
    .cat1text{
      left: 100px;
      top: 80px;
    }
    .cat2text{
      left: 290px;
      top: 80px;
    }
    .cat3text{
      left: 470px;
      top: 80px;
    }
    .int1text{
      left: 195px;
      top: 120px;
      z-index: 6;
      display: none;
    }
    .int2text{
      left: 380px;
      top: 120px;
      z-index: 6;
      display: none;
    }
    .catwrap:hover .cattext{
      transform: scale(1.3);
    }
    .catwrap:hover .int1text{
      display: inline;
    }
    .catwrap:hover .int2text{
      display: inline;
    }
    .catwrap:hover .venn{
      transform: scale(1.3);
      opacity: 0.7;
      -webkit-filter: drop-shadow( -2px 2px 2px #000 ); 
            filter: drop-shadow( -2px 2px 2px #000 );
    }
    .catwrap:hover .inter{
      opacity:1;
      z-index: 5;
    }

@media screen and (max-width: 860px) {
    .abstractbox{display:none;}

    #address {clear: both; width: 100%; margin: 30px 0px 0px 0px;}
    #map {clear: both; width: 100%; padding-top: 15px; margin: 30px 0px 0px 0px;}
    #contact {width:45%}
    #call {width:45%; float:right; padding-top: 15px;}

    #talks #date{float: left;}
    #talks #affil{display: block;}

    #talkfig {clear: left;}

    		
}
