article,
.comments {
    @extend %padding-regular;
    border-bottom: 1px solid $border-color;
    float: left;
    width: 100%;
}

article {
    header {
        margin-bottom: 6%;
        text-align: center;
    }
    a:hover {
        @extend .body-link;
    }
    .footnotes {
        font-size: 0.9em;
    }
}

footer {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.9em;
    display: inline-block;
    text-align: center;
    .meta {
        color: rgba($text-color, .5);
        letter-spacing: 0.1em;
        display: inline;
        text-transform: uppercase;
    }
    a.button {
        margin-left: 1em;
    }
}

header {
    h1 {
        margin: 0;
    }
}

.speaker-span{
    font-size: 1.3em;
    white-space: pre;
    text-transform: none;
    color: $text-color;
}
.loc-span{
    white-space: pre;
    text-transform: none;
    color: $text-color;
}
.white-span{
    white-space: pre;
    text-transform: none;
    color: $text-color;
}
.affil-span{
    font-size: 1.3em;
    white-space: pre;
    text-transform: none;
    color: rgba($text-color, 0.5);
}
.date-span{
    float: right;    
}
.break-mobile{clear: both;}
.meta {
    color: rgba($text-color, .5);
    font-size: 0.9em;
    letter-spacing: 0.1em;
    margin: 0;
    text-transform: uppercase;
    text-align: left;
}

.excerpt {
            padding-top: 1.2em;
        }
.txtcol a{
    font-size:0.8em; 
    cursor: pointer;
}
.txtcol a:hover{
    text-decoration: underline;
}

.truncate2{
    height: 2.8em;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;

}

/* styles for '...' */ 
.truncate {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative; 
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 7.2em; 
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;  
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
}
/* create the ... */
.truncate:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.truncate:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}


/* --- Feature image --- */
.feature-image {
    padding: 0;
    .post-link {
        color: $feature-image-text-color;
    }
    header {
        color: $feature-image-text-color;
        background-size: $feature-image-size;
        margin-bottom: 0;
        padding: $padding-large/2.5 $padding-large;        
        .meta {
            color: rgba($feature-image-text-color, .7);
        }
    }
    .post-content {
        @extend %padding-regular;
        padding-bottom: 0;
    }
    footer {
        @extend %padding-regular;
        padding-top: 0;
    }
}

// Responsive scrolling
.feature-image header {
    @media screen and (max-width: $break) {
        padding: $padding-small $padding-small;
    }
}

/* --- Post navigation --- */
#post-nav {
    width: 100%;
    border-bottom: 1px solid $border-color;
    display: flex;
    float: left;

    a,
    .page-title {
        display: inline-block;
    }

    .page-title {
        font-size: 1.2em;
        margin-bottom: 1em;
        width: 100%;
    }

    a {
        padding: 2em 3em;
        border: 1px solid rgba(255, 255, 255, 0);
        text-align: center;
        width: 50%;
    }

    i {
        vertical-align: middle;
    }
}

.contact-info {
    font-size: 0.8em;
    clear: both;
    float: left;
    margin-left: 25px;
}

.resnavlink .resnavlink:hover, .resnavlink:visited {
          color:inherit;
          text-decoration: none;
         }
     .nav-venn{
        position: relative; 
        padding-bottom: 200px; 
        width: 50%; 
        margin: auto; 
        top: -80px;
        background-image: {{site.baseurl}}/assets/img/research/cat1.svg;
    }
    .venn{
      padding: 0 0 0 0;
      position: absolute;
      opacity: 0.6;
      z-index: 1;
      transition: 0.1s linear;
    }
    .ellipse{
      top: 60px; 
      width: 300px; 
      height: 180px;
    }
    .cat1{
      left: 0px;
     
    }
    .cat2{
      left: 180px;
    }
    .cat3{
      left: 360px;
    }
    .inter{
      position: absolute; 
      top: 78px; 
      width: 120px;
      opacity: 0;
    }
    .int1{
      left: 180px; 
    }
    .int2{
      left: 360px; 
    }
    .catwrap{
    }
    .cattext{
      position: absolute;
      font-weight: bold;
      z-index: 2;
      transition: 0.1s linear;
      color: $text-color;
    }
    .cat1text{
      left: 100px;
      top: 80px;
    }
    .cat2text{
      left: 290px;
      top: 80px;
    }
    .cat3text{
      left: 470px;
      top: 80px;
    }
    .int1text{
      left: 195px;
      top: 120px;
      z-index: 6;
      display: none;
    }
    .int2text{
      left: 380px;
      top: 120px;
      z-index: 6;
      display: none;
    }
    .catwrap:hover .cattext{
      transform: scale(1.1);
    }
    .catwrap:hover .int1text{
      display: inline;
    }
    .catwrap:hover .int2text{
      display: inline;
    }
    .catwrap:hover .venn{
      transform: scale(1.1);
      opacity: 0.8;
      -webkit-filter: drop-shadow( -2px 2px 2px #000 ); 
            filter: drop-shadow( -2px 2px 2px #000 );
    }
    .catwrap:hover .inter{
      opacity:1;
      z-index: 5;
    }


@media screen and (max-width: 800px) {
    .membertxt{clear: both;}
    .affil-span{display: block;}
    .speaker-span{display: block;}
    .loc-span{display: block;}
    .white-span{display: none;}
    .date-span{float: left; clear: both; white-space:nowrap;}
}
@media screen and (min-width: 800px) {
    .break-mobile{display: none;}    
}
