---
layout: default
---
<article {% if page.banner-img %}class="feature-image"{% endif %}>
    <header id="main" style="background-image: url('{{ site.baseurl }}/assets/img/banners/{{ page.banner-img }}')">
        <h2 id="{{ page.title | cgi_escape }}" class="title">{{ page.title }}</h2>
        <p class="meta">
        {% assign time=page.date|date: "%R" %}
        {% if time=="00:00" %}
            {% if page.speaker %}  <span class="speaker-span">by {{ page.speaker }}</span> <span class="affil-spanx"> [{{page.affiliation}}]</span>{% endif %}
            {% if page.location %}<span class="white-span">          </span><span class="loc-span">Room: {{page.location}}</span>{% endif %}
            <span style="float: right;">{{ page.date | date: "%B %-d, %Y" }}</span>
        {% else %}
            {% if page.speaker %}  <span class="speaker-span">by {{ page.speaker }}</span> <span class="affil-spanx"> [{{page.affiliation}}]</span>{% endif %}
            {% if page.location %}<span class="white-span"><span class="loc-span">          </span>Room: {{page.location}}</span> {% endif %}
            <span style="float: right;">{{ page.date | date: "%B %-d, %Y  %R" }}</span>
        {% endif %}
            <br style="clear:both" />
        </p>
    </header>
    <section class="post-content">
        {% if page.bootstrap %}
            <div class="bootstrap-iso">
        {% endif %}
        {{ content }}
        {% if page.bootstrap %}
            </div>
        {% endif %}
    </section>
</article>

<!-- Disqus -->
{% if site.theme_settings.disqus_shortname %}
    <div class="comments">
        {% include disqus.html %}
    </div>
{% endif %}
