---
layout: default
---
{% assign research=site.pages| where:"title","Research" %}
{% assign research=research[0] %}

{% assign used_headings = '' | split: '' %}
{% for i in page.heading_numbers %}
  {% assign i=i|minus: 0 %}
  {% assign j=i|minus: 1 %}
  {% assign heading_name = research.headings[j] %}
  {% assign used_headings=used_headings|push:heading_name %}
{% endfor %}
{% assign used_headings_rev=used_headings_rev|reverse %}
{{used_headings_rev}}
{% for project in site.research %}
  {% if project.parents==used_headings %}
    yes:{{project.parents}}
  {% elsif project.parents==used_headings_rev %}
    yes_reverse
  {% endif %}
{% endfor %}
